## import library yang digunakan

In [5]:
import pandas as pd
from openpyxl import load_workbook

## inisiasi dataset dari excel

In [7]:
wb = load_workbook('D:\\Studied_at_UNP\\SEMESTER-5\\praktikum_data_mining\\praktikum_2\\Data Alumni.xlsx')
sheet_range = wb['Sheet1']
df = pd.DataFrame(sheet_range.values)
df.columns = df.iloc[0]
df = df.drop(0)
df

,No,NIM,TTL,IPK,Masa Tunggu,Tahun Masuk,Tahun Lulus,Gaji,TOEFL,Masa Studi,Umur
1,1,9018263,"Tapuih, 4 November 1989",2.13,2.4,2009,2016,2000000,390,7,34
2,2,9018269,"Koto Anau, 19 Desember 1990",2.75,2.4,2009,2016,2000000,413,7,33
3,3,9020026,"Lampung, 27 Maret 1992",3.24,2.4,2009,2016,2000000,400,7,31
4,4,12018060,"Padang, 23 Maret 1994",3.37,2.4,2012,2016,2000000,396,4,29
5,5,11018022,"Jakarta, 22 Juni 1993",3.2,2.4,2011,2016,2000000,460,5,30
6,6,9018212,"Pekanbaru, 3 Juni 1991",3.24,0,2009,2016,1200000,403,7,32
7,7,9018301,"Purbalingga, 08 Oktober 1991",3.06,2.4,2009,2016,2000000,450,7,32
8,8,12022020,"Bukittinggi, 29 Maret 1992",3.47,2.4,2012,2016,1500000,423,4,31

## seleksi data sampling pada kolom IPK dan TOEFL

In [8]:
df.loc[:, ["IPK", "TOEFL"]]

0   IPK TOEFL
1  2.13   390
2  2.75   413
3  3.24   400
4  3.37   396
5   3.2   460
6  3.24   403
7  3.06   450
8  3.47   423

## mencari kelulusan berdasarkan IPK dan TOEFL

In [9]:
for index, row in df.iterrows():
    df.loc[index, "kelulusan"] = "lulus" if float(row["IPK"]) >= 2.5 and int(row["TOEFL"]) >= 450 else "tidak lulus"
df

,No,NIM,TTL,IPK,Masa Tunggu,Tahun Masuk,Tahun Lulus,Gaji,TOEFL,Masa Studi,Umur,kelulusan
1,1,9018263,"Tapuih, 4 November 1989",2.13,2.4,2009,2016,2000000,390,7,34,tidak lulus
2,2,9018269,"Koto Anau, 19 Desember 1990",2.75,2.4,2009,2016,2000000,413,7,33,tidak lulus
3,3,9020026,"Lampung, 27 Maret 1992",3.24,2.4,2009,2016,2000000,400,7,31,tidak lulus
4,4,12018060,"Padang, 23 Maret 1994",3.37,2.4,2012,2016,2000000,396,4,29,tidak lulus
5,5,11018022,"Jakarta, 22 Juni 1993",3.2,2.4,2011,2016,2000000,460,5,30,lulus
6,6,9018212,"Pekanbaru, 3 Juni 1991",3.24,0,2009,2016,1200000,403,7,32,tidak lulus
7,7,9018301,"Purbalingga, 08 Oktober 1991",3.06,2.4,2009,2016,2000000,450,7,32,lulus
8,8,12022020,"Bukittinggi, 29 Maret 1992",3.47,2.4,2012,2016,1500000,423,4,31,tidak lulus