## import library

In [7]:
import kagglehub
import os
import pandas as pd

## inisiasi dataset dari kaggle

In [10]:
path = kagglehub.dataset_download("prepinstaprime/europe-bike-store-sales")

data = pd.read_csv(os.path.join(path, 'Sales.csv'))
df = pd.DataFrame(data.values)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

## setting data ke dalam template

In [16]:
d = df[0:][[0, 1, 2, 3, 4]]
d.columns = ["Date", "Day", "Month", "Year", "Customer_Age"]
d

              Date Day     Month  Year Customer_Age
0       2013-11-26  26  November  2013           19
1       2015-11-26  26  November  2015           19
2       2014-03-23  23     March  2014           49
3       2016-03-23  23     March  2016           49
4       2014-05-15  15       May  2014           47
...            ...  ..       ...   ...          ...
113031  2016-04-12  12     April  2016           41
113032  2014-04-02   2     April  2014           18
113033  2016-04-02   2     April  2016           18
113034  2014-03-04   4     March  2014           37
113035  2016-03-04   4     March  2016           37

[113036 rows x 5 columns]

## descending kolom Date

In [23]:
d.sort_values(['Date'],ascending=[0])

              Date Day    Month  Year Customer_Age
35939   2016-07-31  31     July  2016           48
39861   2016-07-31  31     July  2016           38
103853  2016-07-31  31     July  2016           31
104926  2016-07-31  31     July  2016           43
103852  2016-07-31  31     July  2016           31
...            ...  ..      ...   ...          ...
49787   2011-01-01   1  January  2011           23
63711   2011-01-01   1  January  2011           39
60993   2011-01-01   1  January  2011           42
58913   2011-01-01   1  January  2011           17
58729   2011-01-01   1  January  2011           33

[113036 rows x 5 columns]

## kolom Costomer_Age dalam tabel

In [20]:
d[['Customer_Age']]

       Customer_Age
0                19
1                19
2                49
3                49
4                47
...             ...
113031           41
113032           18
113033           18
113034           37
113035           37

[113036 rows x 1 columns]

## pembersihan data

In [21]:
d = d.dropna(axis=0, how='any')
d

              Date Day     Month  Year Customer_Age
0       2013-11-26  26  November  2013           19
1       2015-11-26  26  November  2015           19
2       2014-03-23  23     March  2014           49
3       2016-03-23  23     March  2016           49
4       2014-05-15  15       May  2014           47
...            ...  ..       ...   ...          ...
113031  2016-04-12  12     April  2016           41
113032  2014-04-02   2     April  2014           18
113033  2016-04-02   2     April  2016           18
113034  2014-03-04   4     March  2014           37
113035  2016-03-04   4     March  2016           37

[113036 rows x 5 columns]